<h2>Settings</h2>

<table class="table table-hover">

    <tr>
    <th>
        #
    </th>
    <th>
        Name
    </th>
    <th>
        Created On
    </th>
    <th>
        Image
    </th>
    <th>
        Command
    </th>
    </tr>
    <tr class="success-{{todo.done}}" ng-repeat="todo in todos">
        <td>{{$index+1}}</td>
        <td>
            {{todo.title}}
        </td>
        <td>
            {{todo.createdOn |date:'medium'}}
        </td>
        <td>
            <input type="checkbox" ng-change="todoStatusChanged(todo)" ng-value="todo.done" ng-model="todo.done">
        </td>
    </tr>
</table>