<h2>Tasks <a class="btn btn-primary pull-right" ui-sref="createtask"><i
        class="icon-plus-sign icon-white"></i>New Task</a></h2>

<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Created On
        </th>
        <th>
            Image
        </th>
        <th>
            Command
        </th>
        <th>
            Actions
        </th>
    </tr>

    <tr ng-repeat="task in tasks">
        <td>{{$index+1}}</td>
        <td>
            {{task.name}}
        </td>
        <td>
            {{task.createdOn |date:'medium'}}
        </td>
        <td>
            {{task.image}}
        </td>
        <td>
            {{task.command}}
        </td>
        <td>
            <button type="button" ui-sref="executetask({taskName: '{{task.name}}', taskId: {{task.id}}})" class="btn btn-primary">
                Execute
            </button>
            <button type="button" ui-sref="executions({taskId: {{task.id}}})" class="btn btn-primary">
                View Executions
            </button>
            <button type="button" ng-really-message="Are you sure?" ng-really-click="deleteTask({{task}})"
                    class="btn btn-danger">
                Delete
            </button>
        </td>
    </tr>
</table>